
$text-color: #1a1a3d;
$light-blue: #58D8FE;
$light-green: #00CE8F;
$light-yellow: #FDD25E;
$light-pink: #FF8F9E;
$dark-blue: #36CEFC;
$dark-green: #00C085;
$dark-yellow: #FEB657;
$dark-pink: #ED6D7D;
$primary-puzzle-blue: linear-gradient(to bottom right, $light-blue, $dark-blue);
$primary-puzzle-green: linear-gradient(to bottom right, $light-green, $dark-green);
$primary-puzzle-yellow: linear-gradient(to bottom right, $light-yellow, $dark-yellow);
$primary-puzzle-pink: linear-gradient(to bottom right, $light-pink, $dark-pink);
$primary-white: whitesmoke;
$text-color: #1a1a3d;