background: linear-gradient(to bottom right, #FF7F50, #FF69B4); /*pomarancz-rozowy taaak*/
background: linear-gradient(to bottom right, #ADD8E6, #4682B4); /*Jasnoniebieski - Ziemnoniebieski taaak*/
background: linear-gradient(to bottom right, #FF69B4, #8A2BE2); /*Różowy - Fioletowy tak ale ostry*/
background: linear-gradient(to bottom right, #87CEEB, #90EE90); /*Błękitny - Limonkowy taaaak*/
background: linear-gradient(to bottom right, #FFA500, #FF4500); /*Pomarańczowy - Czerwony*/
background: linear-gradient(to bottom right, #40E0D0, #800080); /*Turkusowy - Fioletowy taaak*/
background: linear-gradient(to bottom right, #FFD700, #FF6347); /*Złoty - Czerwony*/
background: linear-gradient(to bottom right, #98FF98, #FFB6C1); /*Miętowy - Różowy nieee*/ 