@use 'variables' as *;

.header-container {
    display: flex;
    height: 60px;
    align-items: center;
    background: $primary-puzzle-pink;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    .header-buttons-container {
        margin: auto 20px;
    }
    button {
        margin: auto 4px;
        width:50px;
        height:50px;
        background: transparent;
        border: none;
        i {
            color: $text-color;
        }
    }
}