@use 'variables' as *;

.home-page {
    min-height: inherit;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 40px;
    p {
        font-size: 20px;
    }
    button {
        font-size: 24px;
        letter-spacing: 3px;
        font-weight: bold;
        width: 180px;
        height: 60px;
        align-self: center;
        border-radius: 10px;
        border: 2px solid $text-color;
        color: $text-color;
        background: $primary-puzzle-pink;
        i {
            margin-right: 8px;
        }
    }
}

button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

@keyframes bounce {
    0% { transform: scale(1); }
    40% { transform: scale(1.05); }
    60% { transform: scale(0.95); } 
    80% { transform: scale(1.05); }
    100% { transform: scale(1.1); }
}

.logo-container {
    width: 100%;
    max-width: 500px;
    max-height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }
}

@media (max-width: 768px) {
    .home-page {
        p {
            font-size: 14px;
        }
        button {
            font-size: 14px;
            width: 140px;
            height: 40px;
        }
    }
}