@font-face {
    font-family: 'Bitter';
    src: url('../assets/fonts/Bitter-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bitter';
    src: url('../assets/fonts/Bitter-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bitter';
    src: url('../assets/fonts/Bitter-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Bitter';
    src: url('../assets/fonts/Bitter-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #1a1a3d;
  background: linear-gradient(to bottom right, #ADD8E6, #4682B4);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  font-family: "Bitter", sans-serif;
}
