@use 'variables' as *;

.quiz-page {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
.quiz-main-container {
    padding: 30px;
    img {
        width: 80px;
        height: 80px;
    }
    p {
        font-size: 22px;
    }
    button {
        font-size: 24px;
        letter-spacing: 3px;
        font-weight: bold;
        width: 180px;
        height: 60px;
        align-self: center;
        border-radius: 10px;
        border: 2px solid $text-color;
        color: $text-color;
        background: $primary-puzzle-pink;
    }
    button:hover {
        background: $dark-pink;
    }
}

@media (max-width: 768px) {
    .quiz-main-container {
        padding: 30px;
        p {
            font-size: 14px;
        }
        button {
            font-size: 18px;
            letter-spacing: 1px;
            width: 130px;
            height: 50px;
        }
    }
}